            li {
                color: rgb(202, 14, 14);   
                background-color: white; 
            }
            #last_li{
                color: green;
            }
            #only_text{
                color: orange;
            }
            .menu{
                background-color: Black;
                color: white;
            }
            ul li{
                background-color:rgb(1, 12, 12);
                color: rgb(250, 248, 248);
                list-style-type: none;
                display:inline-block;
                width:25%;
                padding: 0px;
                margin: 0px;
            }
                ul li:hover{
                background-color:teal;
                color: red;
                list-style-type: none;
                display:inline-block;
                width:25%;
                padding: 0px;
                margin: 0px;

            }
            .center {
                text-align:center;
            }
            
            @font-face {
                font-family: "Harlow";
                src: url("HARLOWSI.TTF");
                
            }
            .font{
                font-family: "Harlow";
            }
            .fade-in-image {
                animation: fadeIn 5s;
                -webkit-animation: fadeIn 5s;
                -moz-animation: fadeIn 5s;
                -o-animation: fadeIn 5s;
                -ms-animation: fadeIn 5s;
              }
              @keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              
              @-moz-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              
              @-webkit-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              
              @-o-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              
              @-ms-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
