li {
    color: rgb(204, 33, 33);
}
#last_li {
    color: black;
}
h1 {
    color: blue;
    background-color: green;
}
ul li {
    background-color: black;
    color: white;
    list-style-type: none;
    display: inline-block;
    width: 25%;
    padding: 0px;
    margin: 0px;
}
ul li:hover {
    background-color: red;
    color: white;
}
ul li:hover{
    background-color:none;
    color: red;
    list-style-type: none;
    width:100%;
    padding: 0px;
    margin: 0px;
    text-align:center;

}
.center {
    text-align:center;
}
.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
.fade{
    animation: fadeAndScale 1s cubic-bezier(0,1.07,.72,1.42);
    transform-origin: center bottom;
}
@keyframes fadeAndScale{
    from{
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }
    to{
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}