ul li:hover{
    background-color:none;
    color: rgb(174, 0, 255);
    list-style-type: none;
    width:100%;
    padding: 0px;
    margin: 0px;
    text-align:center;

}
a{
    color: black;
}
.center {
    text-align:center;
}
.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
.fade{
    animation: fadeAndScale 1s cubic-bezier(0,1.07,.72,1.42);
    transform-origin: center bottom;
}
@keyframes fadeAndScale{
    from{
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }
    to{
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}