#li {
    color: rgb(202, 14, 14);   
    background-color: white; 
}
#last_li{
    color: green;
}
#only_text{
    color: orange;
}
.menu{
    background-color: Black;
    color: white;
}
#ul_li{
    background-color:rgb(1, 12, 12);
    color: rgb(250, 248, 248);
    list-style-type: none;
    display:inline-block;
    width:25%;
    padding: 0px;
    margin: 0px;
}
ul li:hover{
    background-color:none;
    color: red;
    list-style-type: none;
    width:25%;
    padding: 0px;
    margin: 0px;

}
.center {
    text-align:center;
}
.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
.fade{
    animation: fadeAndScale 1s cubic-bezier(0,1.07,.72,1.42);
    transform-origin: center bottom;
}
@keyframes fadeAndScale{
    from{
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }
    to{
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}