            li {
                color: rgb(202, 14, 14);   
                background-color: white; 
            }
            #last_li{
                color: green;
            }
            #only_text{
                color: orange;
            }
            .menu{
                background-color: Black;
                color: white;
            }
            ul li{
                background-color:rgb(1, 12, 12);
                color: rgb(250, 248, 248);
                list-style-type: none;
                display:inline-block;
                width:25%;
                padding: 0px;
                margin: 0px;
            }
                ul li:hover{
                background-color:teal;
                color: red;
                list-style-type: none;
                display:inline-block;
                width:25%;
                padding: 0px;
                margin: 0px;

            }
            .center {
                text-align:center;
            }
            
            @font-face {
                font-family: AgencyFB;
                src: url(C:\windows\fonts\agencyr.ttf);
                
            }
            .font{
                font-family: AgencyFB;
            }
