ul{
list-style-type: none; 
margin: 0;
      
}
ul li:hover{
    background-color:rgb(5, 223, 252);
    color: rgb(174, 0, 255);
    list-style-type: none;
    width:100%;
    padding: 0px;
    margin: 0px;
    text-align:center;

}
table, th, td {
    border: 1.0px solid black;
  }
@media only screen and (max-width: 600px) {
    body {
        padding: 0px;
        margin-left:0%;
        margin-right:30%;
        color:brown;
    }
  }

a{
    color: black;
}
.center {
    text-align:center;
}
.center_base {
    text-align:center;
    width: 99%;
}
#center_table{
    margin-left: auto;
    margin-right: auto;
}
p ul li{
    list-style-type: none;
    display: inline-block;
    width: 25%;
    padding: 0px;
    margin: 0px;
    
}
.rightside{
        float: right
    }
        
.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
.centerlogin {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.centeruser {
    margin-left: auto;
    margin-right: auto;
    width: 10.5%;
}
.centermessage {
    margin-left: auto;
    margin-right: auto;
    width: 7%;
}

.centerlist {
    
    margin-left: auto;
    margin-right: auto;
    width: 8%;
}
.fade{
    animation: fadeAndScale 1s cubic-bezier(0,1.07,.72,1.42);
    transform-origin: center bottom;
}
@keyframes fadeAndScale{
    from{
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }
    to{
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}