<html>
    <head>
        <title>
            Menu
        </title>
        <link rel="stylesheet" href="/static/database.css">
        <meta name="Description" content="Menu of Delink">
    </head>
    <body>
        {% block title %}
        {% endblock %}
        <div class="center_base">
            <ul>
                <li><a href='/'>Home</a></li>
                {% if is_logged_in %}
                <li><a href='/logout'>Logout</a></li>
                <li><a href='/create_message'>Create message</a></li>
                {% else %}
                <li><a href='/login'>Login</a></li>
                <li><a href='/create_user'>Create user</a></li>
                {% endif %}
            </ul>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>