<head>
    <title>
        Login
    </title>
    <link rel="stylesheet" href="/static/database.css">
    <meta name="Description" content="Login to Delink">
</head>
<div class="centerimg center">
    <p><strong><h2>Login to Delink!</h2></strong></p>
</div>
{% block content %}
<form action=/login method=POST>
    <table>
        <tr><td>username</td><td><input type=text name=username></td></tr>
        <tr><td>password</td><td><input type=password name=password></td></tr>
        <tr><td></td><td><input type=submit value='log in'></td></tr>
    </table>
    
</form>

<p>
If you don't have a user account, then <a href=/create_user>create one</a>.
</p>
{% endblock %}