{% extends 'base.html' %}
<head>
    <title>
        Login
    </title>
    <link rel="stylesheet" href="/static/database.css">
    <meta name="Description" content="Login to Delink">
</head>
{% block title %}
<div class="center">
    <p><strong><h2>Login to Delink!</h2></strong></p>
</div>
{% endblock %}

{% block content %}

<form class="centerlogin" action=/login method=POST>
    <table>
        <tr><td>Username</td><td><input type=text name=username></td></tr>
        <tr><td>Password</td><td><input type=password name=password></td></tr>
        <tr><td></td><td><input type=submit value='Log In'></td></tr>
    </table>
</form>
{% if display_error %}
<a class="center"><p style='color:red;'>Invalid username/password.</p></a>
{% elif is_logged_in  %}
<a class="center"><p>Successfully Logged In!</p></a>
{% endif %}


<div class = "center">
If you don't have a user account, then <a href=/create_user>create one</a>.
</div>
{% endblock %}